/* all the variables for this project*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Roboto+Slab:wght@700&family=Space+Mono:wght@700&display=swap");
/* red option*/
/* blue option*/
/* purple option*/
/* other colors */
/*fonts */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {
  background: rgb(30, 33, 63);
}

/*pomodoro title */
.title {
  color: #eff1fa;
}

/* navigational bar */
.navigationpanel {
  background: rgb(22, 25, 50);
  padding: 0.6rem;
  margin-top: 1rem;
  border-radius: 2rem;
}
.navigationpanel > button {
  color: #d7e0ff;
  padding: 0.6rem 1rem;
  background: inherit;
  border: 0.1rem solid rgb(22, 25, 50);
  border-radius: 2rem;
  margin-right: 0.2rem;
}
.navigationpanel > button.selected {
  /*highlighted red */
  color: rgb(22, 25, 50);
  background-color: rgb(248, 112, 112);
  border-radius: 2rem;
}
.navigationpanel > button.selected:hover {
  color: rgb(22, 25, 50);
  background-color: rgb(248, 112, 112);
  border-radius: 2rem;
  border: 0.1rem solid rgb(22, 25, 50);
}
.navigationpanel > button:hover {
  border: 0.1rem solid #eff1fa;
  color: #eff1fa;
  background: rgb(30, 33, 63);
  cursor: pointer;
}
.navigationpanel > button:last-of-type {
  margin-right: 0rem;
}

/* blue circles in the middle with shade */
.bigcircle {
  position: relative;
  width: 21rem;
  height: 21rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  box-shadow: -0.8rem -0.8rem 2rem 0.01rem rgba(215, 224, 255, 0.0823529412);
  background: linear-gradient(to top left, rgba(215, 224, 255, 0.1215686275), rgb(22, 25, 50) 70%);
  border-radius: 50%;
}

.smallercircle {
  position: absolute;
  width: 18rem;
  height: 18rem;
  background: rgb(22, 25, 50);
  z-index: 1;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* inside the smaller circle */
#timerRing {
  position: absolute;
  z-index: 2;
  height: 320px;
  width: 320px;
}

#time {
  position: absolute;
  z-index: 2;
  width: 13rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eff1fa;
}

.buttonpanel {
  position: absolute;
  background: none;
  z-index: 3;
  top: 63%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4rem;
  transform: translateX(-50%);
}
.buttonpanel button {
  background: none;
  color: #eff1fa;
  border: 0.1rem solid rgb(22, 25, 50);
  padding: 0.4rem;
}
.buttonpanel button:hover {
  cursor: pointer;
  border: 0.1rem solid #eff1fa;
  border-radius: 2rem;
}
.buttonpanel #pausebutton {
  display: none;
}
.buttonpanel #resumebutton {
  display: none;
}

/* settings panel */
.settings:hover {
  cursor: pointer;
}

.settingpanel {
  position: absolute;
  background: #ffffff;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  z-index: 4;
  width: 30rem;
}
.settingpanel > section {
  padding: 1rem 0;
  border-bottom: 0.01rem solid #979797;
}

.selectors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1.2rem 0;
}
.selectors > div {
  padding: 0 0.5rem;
  color: #1e213f;
}
.selectors > div h4 {
  padding: 0.4rem 0;
}
.selectors > div .textbox-container {
  display: flex;
  flex-direction: row;
  background: #eff1fa;
  border-radius: 2rem;
  padding: 0.2rem 0.9rem;
}
.selectors > div .textbox-container span {
  width: 3rem;
  height: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
}
.selectors > div .textbox-container .svgarrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.selectors > div .textbox-container .svgarrows svg:hover path {
  stroke: red;
  cursor: pointer;
}
.selectors > div .textbox-container .svgarrows svg:first-child {
  margin-bottom: 0.3rem;
}

.settingheader,
.font,
.color {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#close:hover {
  cursor: pointer;
}

/*fonts*/
.kumbh {
  font-family: "Kumbh Sans", sans-serif;
}

.roboto {
  font-family: "Roboto Slab", serif;
}

.space-mono {
  font-family: "Space Mono", monospace;
}

.heading-1 {
  font-size: 5rem;
  line-height: 7.5rem;
}

.heading-2 {
  font-size: 1.75rem;
  line-height: 2.125rem;
}

.heading-3 {
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.9375rem;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 0.8125rem;
  line-height: 1rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
}

.body-1 {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: bold;
}

.body-2 {
  font-size: 0.75rem;
  line-height: 0.875rem;
}

/*colors */
.red {
  background: rgb(248, 112, 112);
}

.blue {
  background: rgb(112, 243, 248);
}

.purple {
  background: rgb(216, 129, 248);
}

/*# sourceMappingURL=main.css.map */
