@import "templates.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}

body {
  width: inherit;
  height: inherit;
  @include flex-column;
  @include flex-center;
}
:root {
  background: $dark-blue;
}

/*pomodoro title */

.title {
  color: $offwhite;
}

/* navigational bar */
.navigationpanel {
  background: $darkest-blue;
  padding: 0.6rem;
  margin-top: 1rem;
  border-radius: 2rem;
  > button {
    &.selected {
      /*highlighted red */
      &:hover {
        color: $darkest-blue;
        background-color: $red;
        border-radius: 2rem;
        border: 0.1rem solid $darkest-blue;
      }
      color: $darkest-blue;

      background-color: $red;
      border-radius: 2rem;
    }
    color: $bluish-white;
    padding: 0.6rem 1rem;
    background: inherit;
    border: 0.1rem solid $darkest-blue;
    border-radius: 2rem;

    margin-right: 0.2rem;

    &:hover {
      border: 0.1rem solid $offwhite;
      color: $offwhite;
      background: $dark-blue;
      cursor: pointer;
    }
    &:last-of-type {
      margin-right: 0rem;
    }
  }
}

/* blue circles in the middle with shade */
.bigcircle {
  position: relative;
  width: 21rem;
  height: 21rem;
  display: flex;
  @include flex-center;
  margin: 2rem 0;
  box-shadow: -0.8rem -0.8rem 2rem 0.01rem #d7e0ff15;
  background: linear-gradient(to top left, #d7e0ff1f, $darkest-blue 70%);
  border-radius: 50%;
}

.smallercircle {
  position: absolute;
  width: 18rem;
  height: 18rem;
  background: $darkest-blue;
  z-index: 1;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* inside the smaller circle */
#timerRing {
  position: absolute;
  z-index: 2;
  height: 320px;
  width: 320px;
}

#time {
  position: absolute;
  z-index: 2;
  width: 13rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $offwhite;
}
.buttonpanel {
  position: absolute;
  background: none;
  z-index: 3;
  top: 63%;
  left: 50%;
  @include flex-column;
  @include flex-center;
  height: 4rem;
  transform: translateX(-50%);
  button {
    background: none;
    color: $offwhite;
    border: 0.1rem solid $darkest-blue;
    padding: 0.4rem;

    &:hover {
      cursor: pointer;
      border: 0.1rem solid $offwhite;
      border-radius: 2rem;
    }
  }
  #pausebutton {
    display: none;
  }
  #resumebutton {
    display: none;
  }
}

/*fonts*/
.heading-1-kumbh {
  @include heading-1($font: $kumbh);
}
.heading-1-roboto {
  @include heading-1($roboto);
}
.heading-1-space-mono {
  @include heading-1($space-mono);
}
.heading-2-kumbh {
  @include heading-2($font: $kumbh);
}
.heading-2-roboto {
  @include heading-2($roboto);
}
.heading-2-space-mono {
  @include heading-2($space-mono);
}
.heading-3-kumbh {
  @include heading-3($font: $kumbh);
}
.heading-3-roboto {
  @include heading-3($roboto);
}
.heading-3-space-mono {
  @include heading-3($space-mono);
}
.heading-4-kumbh {
  @include heading-4($font: $kumbh);
}
.heading-4-roboto {
  @include heading-4($roboto);
}
.heading-4-space-mono {
  @include heading-4($space-mono);
}
.body-1-kumbh {
  @include body-1($font: $kumbh);
}
.body-1-roboto {
  @include body-1($roboto);
}
.body-1-space-mono {
  @include body-1($space-mono);
}
.body-2-kumbh {
  @include body-2($font: $kumbh);
}
.body-2-roboto {
  @include body-2($roboto);
}
.body-2-space-mono {
  @include body-2($space-mono);
}

/*colors */
.red {
  background: $red;
}
.blue {
  background: $blue;
}
.purple {
  background: $purple;
}
