/* all the variables for this project*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Roboto+Slab:wght@700&family=Space+Mono:wght@700&display=swap");
/* red option*/
$red: rgb(248, 112, 112);
/* blue option*/
$blue: rgb(112, 243, 248);
/* purple option*/
$purple: rgb(216, 129, 248);

/* other colors */

$white: #ffffff;
$offwhite: #eff1fa;
$bluish-white: #d7e0ff;

$dark-blue: rgb(30, 33, 63);
$darkest-blue: rgb(22, 25, 50);

/*fonts */

$kumbh: "Kumbh Sans", sans-serif;
$roboto: "Roboto Slab", serif;
$space-mono: "Space Mono", monospace;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

@mixin heading-1 {
  // font-family: $font;
  font-size: 5rem;
  line-height: 7.5rem;
}
@mixin heading-2 {
  // font-family: $font;
  font-size: 1.75rem;
  line-height: 2.125rem;
}
@mixin heading-3 {
  // font-family: $font;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.9375rem;
  text-transform: uppercase;
}
@mixin heading-4 {
  // font-family: $font;
  font-size: 0.8125rem;
  line-height: 1rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
}
@mixin body-1 {
  // font-family: $font;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: bold;
}
@mixin body-2 {
  // font-family: $font;
  font-size: 0.75rem;
  line-height: 0.875rem;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-center {
  justify-content: center;
  align-items: center;
}
